<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "crossbrowdy"
        versionCode = "999633"
        version     = "0.99.96.33" >

	<!-- versionCode is optional and Android only -->
	
	<!-- <preference name="phonegap-version" value="3.6.3" /> -->
	
	<name>CrossBrowdy</name>
	
	<content src="index.html" />
	
	<access origin="*" />
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	<splash src="splash.png" />
	<!-- <platform name="android"> -->
		<splash qualifier="land-ldpi"    src="splash.png" />
		<splash qualifier="land-mdpi"    src="splash.png" />
		<splash qualifier="land-hdpi"    src="splash.png" />
		<splash qualifier="land-xhdpi"   src="splash.png" />
		<splash qualifier="land-xxhdpi"  src="splash.png" />
		<splash qualifier="land-xxxhdpi" src="splash.png" />
		<splash qualifier="port-ldpi"    src="splash.png" />
		<splash qualifier="port-mdpi"    src="splash.png" />
		<splash qualifier="port-hdpi"    src="splash.png" />
		<splash qualifier="port-xhdpi"   src="splash.png" />
		<splash qualifier="port-xxhdpi"  src="splash.png" />
		<splash qualifier="port-xxxhdpi" src="splash.png" />
		<splash density="land-ldpi"      src="splash.png" />
		<splash density="land-mdpi"      src="splash.png" />
		<splash density="land-hdpi"      src="splash.png" />
		<splash density="land-xhdpi"     src="splash.png" />
		<splash density="land-xxhdpi"    src="splash.png" />
		<splash density="land-xxxhdpi"   src="splash.png" />
		<splash density="port-ldpi"      src="splash.png" />
		<splash density="port-mdpi"      src="splash.png" />
		<splash density="port-hdpi"      src="splash.png" />
		<splash density="port-xhdpi"     src="splash.png" />
		<splash density="port-xxhdpi"    src="splash.png" />
		<splash density="port-xxxhdpi"   src="splash.png" />
	<!-- </platform> -->
	
	<preference name="permissions" value="one"/>
	
	<description>
		CrossBrowdy is an object-oriented JavaScript engine that allows to create multimedia apps, emulators, game engines and games that will be compatible with any device.
	</description>
	
	<author href="https://joanalbamaldonado.com/" email="joanalbamaldonadoNO_SPAM_PLEASE AT gmail DOT com, without NO_SPAM_PLEASE">
		Joan Alba Maldonado
	</author>
	
	<preference name="orientation" value="default" />        <!-- all: default means both landscape and portrait are enabled -->
	<preference name="target-device" value="universal" />      <!-- all: possible values handset, tablet, or universal -->
	<preference name="fullscreen" value="true" />           <!-- all: hides the status bar at the top of the screen -->
	<preference name="prerendered-icon" value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
	<preference name="ios-statusbarstyle" value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
	<preference name="detect-data-types" value="false" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
	<preference name="exit-on-suspend" value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
	<preference name="disable-cursor" value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
	<preference name="android-minSdkVersion" value="28" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
	<preference name="android-installLocation" value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="webviewbounce" value="false" /> <!-- Prevents rubber (elastic) scrolling on iOS -->
	<!-- <preference name="SplashScreen" value="splash" /> -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="1000" />
	<preference name="auto-hide-splash-screen" value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
	<preference name="SplashMaintainAspectRatio" value="false" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false"/>
	
	<!-- <gap:plugin name="nl.x-services.plugins.insomnia" /> -->
	<plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
	<plugin name="cordova-plugin-android-tv" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm">
		<preference name="SplashScreen"               value="splash" />
		<preference name="AutoHideSplashScreen"       value="true" />
		<preference name="SplashScreenDelay"          value="1000" />
		<preference name="SplashMaintainAspectRatio"  value="false" />
		<preference name="FadeSplashScreen"           value="false"/>
		<preference name="ShowSplashScreenSpinner"    value="false" />
	</plugin>
</widget>