/* This file belongs to a CrossBrowdy.com example, made by Joan Alba Maldonado. */

body { background-color:#555555; word-wrap:break-word; }
#crossbrowdy_info { position:fixed; bottom:2px; right:2px; z-index:5; }
#crossbrowdy_info a { color:#00aadd; }
#crossbrowdy_info a:hover { color:#0033aa; }
#CB_console { width:460px; height:100px; background-color:#aaaaaa; color:#ddddff; }
button { cursor:pointer; cursor:hand; }
span { color:#aa0000; }
#loading
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	color:#ff0000;
	background-color:#ffffff;
	z-index:5;
}
#waiting_for_any_key { position:absolute; left:0px; top:0px; visibility:hidden; display:none; text-align:center; color:#ffff00; font-size:28px; line-height:28px; z-index:2; }
#loading_rom { position:absolute; left:0px; top:0px; visibility:hidden; display:none; text-align:center; color:#ff0000; font-size:28px; line-height:28px; z-index:2; }
#error { position:absolute; left:0px; top:0px; visibility:hidden; display:none; text-align:center; color:#ff0000; font-size:28px; line-height:28px; z-index:2; }
#waiting_for_any_key, #loading_rom, #error
{
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	animation:blinking 1s ease-in-out infinite;
}
#my_canvas { position:absolute; left:0px; top:0px; z-index:1; }
#my_canvas_buffer { position:absolute; left:0px; top:0px; visibility:hidden; display:none; z-index:1; }
#start_button
{
	z-index:4;
	visibility: hidden;
	display: none;
	position:absolute;
	left:25%;
	top:25%;
	width:50%;
	height:50%;
	color:#ff0000;
	font-weight:bold;
	filter:alpha(opacity=90);
	opacity:0.9;
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#start_button:hover
{
	color:#ffaa00;
	filter:alpha(opacity=100);
	opacity:1;
	-moz-opacity:1;
	-khtml-opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#toolbar { z-index:3; position:absolute; left:5px; top:0px; }
.toolbar_icon { cursor:pointer; cursor:hand; }
.toolbar_icon:disabled { cursor:default; }
#file_selector { visibility:hidden; display:none; }
#rom_selector { margin-top:2px; }
#cpl_input { margin:0px; padding:0px; border:1px solid #555555; }
#controls
{
	z-index:3;
	position:absolute;
	bottom:50px;
	right:50px;
	filter:alpha(opacity=50);
	opacity:0.5;
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.screen_button
{
	display:inline-block;
	text-align:center;
	font-weight:bold;
	line-height:100px;
	color:#ffffff;
	border:1px dotted #ff0000;
	background-color:#0000aa;
	cursor:pointer;
	cursor:hand;
	width:100px;
	height:100px;
	margin:2px;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-khtml-border-radius:12px;
}
.screen_button.used
{
	background-color:#aa0000;
}
.screen_button.pressed
{
	background-color:#aa00aa;
}
.screen_button.disabled
{
	background-color:#0000aa;
	cursor:default;
}
sup
{
	color:#aaaa00;
	font-size:70%;
}
@keyframes blinking
{
  0%
  {
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  50%
  {
	filter:alpha(opacity=0);
	opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100%
  {
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }
}