/* This file belongs to a CrossBrowdy.com example, made by Joan Alba Maldonado. */

body { background-color:#aaddee; word-wrap:break-word; }
#crossbrowdy_info { position:fixed; bottom:2px; right:2px; }
#crossbrowdy_info a { color:#00aadd; }
#crossbrowdy_info a:hover { color:#0033aa; }
span { color:#aa0000; }
button { color:#006600; }
button:hover { color:#660000; cursor:pointer; cursor:hand; }
#messages { width:100%; height:350px; background-color:#aa0000; color:#ffffff; font-weight:bold; overflow:auto; }
#messages .line_number { color:#00aaff; font-weight:normal; }
h1, h2, h3 { color:#000000; }
#clear_messages, #create, #check, #controls { visibility:hidden; display:none; }